In [1]:
import pandas as pd

In [16]:
df = pd.read_csv(
    "./dataset/sentiment140/training.1600000.processed.noemoticon.csv",
    encoding="utf-8",
    encoding_errors="ignore",
    names=["target", "id", "date", "query", "user", "comment"]
    )
print(df.shape)

(1600000, 6)

In [17]:
df.head()

,target,id,date,query,user,comment
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   target   1600000 non-null  int64
 1   id       1600000 non-null  int64
 2   date     1600000 non-null  object
 3   query    1600000 non-null  object
 4   user     1600000 non-null  object
 5   comment  1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB